@import 
url('https://fonts.googleapis.com/css2?family=Lato');

a {
    text-decoration: none;
}
.content {
    margin: 0 auto;
    width: 1170px;
}

.logo-img {
    float: left;
    padding: 20px;
    padding-bottom: 0px;
 }

.main-menu, .menu {
    padding-left: 530px;
    list-style: none;
    margin: 0 auto;
    display: flex;
 }

 .menu {
    background: #f6f6f6;
    margin-bottom: 15px;
 }

.punkt {
    margin: 10px;
    font-size: 16px;
    font-family: 'Lato';
 }

 .punkt a {
    color: #434343;
 }

 .pt2, .pt2-1 {
    font-size: 16px;
    font-family: 'Lato';
    margin-left: 5px;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 24px;
    padding-right: 24px;
 }

 .pt2 {
    background: #05aecc;
 }

.pt2-1 {
    background: #f0626e;
 }

.list {
    list-style: none;
    margin: 0 auto; 
    display: flex;
    background: #05aecc;
    padding-left: 100px;
    margin-bottom: 15px;
 }

.long-menu {
    font-size: 16px;
    font-family: 'Lato';
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
 }

.long-menu a, .pt2 a, .pt2-1 a {
     color: #fff;
 }

 .image-men {
    float: left;
    padding-right: 5px;
 }

