/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: "Aparajita"; 
    src: url("//db.onlinewebfonts.com/t/0a5b5c55b73f577ff4ac8c9c31b4c183.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/0a5b5c55b73f577ff4ac8c9c31b4c183.woff") format("woff");
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content {
    margin: 0 auto;
    width: 1170px;
}

img {
    max-width: 100%;
}

/* Header */
.header-nav {
    height: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header-nav-list{
    display: flex;
}

.header-nav-item {
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 400;
    margin-left: 30px;
}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 15px;
    padding-bottom: 0px;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 16px;
    color: #000;
    background-color: rgba(255, 255, 255, .8);
    height: 28px;
    width: 100%;
}

.header-nav-link {
    color: #434343;
}

/* Nav-menu */
.nav-menu {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: #f6f6f6;
}

.nav-menu-list {
    display: flex;
}

.nav-menu-item {
    padding: 35px 24px;
    margin-left: 5px;
    font-size: 16px;
    font-family: 'Lato';
    letter-spacing: 1pt;
    cursor: pointer;
}

.nav-menu-link {
    color: #fff;
}

.nav-menu-item-blue {
    background: #05aecc;
}

.nav-menu-item-red {
    background: #f0626e;
}

.nav-menu-item-red:hover {
    background: #fff;
    color: #05aecc;
    box-shadow: inset 0px -4px 9px 0px rgba(160, 160, 160, .3);
}

.nav-menu-item-blue:hover {
    background: #fff;
    color: #f0626e;
    box-shadow: inset 0px -4px 9px 0px rgba(160, 160, 160, .3);
}

.nav-menu-item:hover {
    background: #fff;
}

/* Main menu */
.main-nav {
    margin: 15px 0;
    display: block;
    height: 70px;
}

.main-nav-list {
    padding: 0 100px;
    display: flex;
    background: #05aecc;
    cursor: pointer;
}

.main-nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1 1 10%;
    height: 70px;
}

.main-nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 16px;
    font-family: 'Lato';
    color: #ffffff;
    height: 70px;
}

.main-nav-link:hover {
    color: #f0626e;
    background: #ffffff;
    box-shadow: inset 0px -4px 9px 0px rgba(160, 160, 160, 0.3);
}


/* Images */
.images-section {
    display: grid;
    grid-template-columns: 676px 694px;
    grid-template-rows: 325px 250px 175px 336px;
}

.image-men {
    position: relative;
}

.img-men-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 410px;
    width:315px;
    height: 105px;
    padding: 0 15px;
    background: rgba(54, 42, 79, 0.8);
}

.img-men-wear {
    font-size: 58px;
    font-family: 'Aparajita';
    line-height: 35px;
    font-weight: 300;
    text-transform: uppercase;
    color:#f0626e;
}

.img-men-description {
    font-family: 'Lato';
    text-transform: uppercase;
    color: #ffffff; 
    font-size: 13px;
}

.img-men-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 517px;
    width: 345px;
    height: 43px;
    font-size: 20px;
    font-family: 'Aparajita';
    background: #f0626e;
    color: #fff;
    text-transform: uppercase;
}

.image-women {
    position: relative;
}

.img-women-heading{
    font-size: 35px;
    line-height: 21px;
    font-family: 'Aparajita' ;
    text-transform: uppercase;
    color:#f0626e;
}

.img-women-description {
    font-size: 12px;
    font-family: 'Lato';
    text-transform: uppercase;
    color: #ffffff;
}

.img-women-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    top: 220px;
    width: 237px;
    height: 83px;
    background: rgba(54, 42, 79, 0.8);
}

.image-baby {
    position: relative;
    grid-column: 2;
}

.img-baby-text {
    height: 55px;
    position: absolute;
    top: 162px;
    right: 200px;
    display: flex;
    font-size: 16px;
    font-family: 'Lato';
    list-style: none;
}

.img-babyshop {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 105px;
    color: #ffffff;
    background: #05aecc;
}

.img-babyshop:hover,
.img-gift-icon:hover {
    color: #f0626e;
    background-color: #fff;
}

.img-gift-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 51px;
    color: #ffffff;
    background: #00a1be;
}

.img-cart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 51px;
    color: #ffffff;
    background: #f0626e;
}

.img-cart-icon:hover {
    color: #05aecc;
    background-color: #fff;
}

.img-baks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 85px;
    color: #fff;
    background: #323232;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 172px;
    width: 670px;
    background: #f0626e;
}

.searchTerm {
    display: flex;
    width: 485px;
    height: 70px;
    font-size: 16px;
    font-family: 'Lato';
    text-align: center;
    border:#f0626e;
    outline: none;
}

.searchTerm:focus{
    color: #380136;
    border: #fff;
}

.searchButton {
    width: 75px;
    height: 70px;
    background: #f0626e;
    color: #eeeeee;
    cursor: pointer;  
    border: #f0626e;  
}

.image-jewerly{
    position: relative;
}

.img-jewerly-heading{
    position: absolute;
    top: 125px;
    right: 200px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 140px;
    font-size: 64px;
    font-family: 'Aparajita';
    text-align: center;
    text-transform: uppercase;
    background: rgba(54, 42, 79, 0.8);
    color: white;
    writing-mode: vertical-rl;
    transform-origin: center; 
    transform: rotate(-180deg);  
}

.circle-right{
    position: absolute;
    padding:20px 30px;
    top: 145px;
    right: 200px;
    background: #f0626e;
    color: #ffffff;
}

.image-crafts{
    position: relative;
}

.img-crafts-text {
    position: absolute;
    bottom: 0;
    right: 6px;
    display: flex;
    font-size: 16px;
    font-family: 'Lato';
}

.img-crafts-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 200px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(54, 42, 79, 0.8);
    color: white;
}