@import 
url('https://fonts.googleapis.com/css2?family=Lato');

@import 
url(//db.onlinewebfonts.com/c/0a5b5c55b73f577ff4ac8c9c31b4c183?family=Aparajita);
a {
    text-decoration: none;
}
.content {
    margin: 0 auto;
    width: 1170px;
}

.logo-img {
    float: left;
    padding: 20px;
    padding-bottom: 0px;
 }

.main-menu, .menu {
    padding-left: 530px;
    margin: 0 auto;
    display: flex;
    list-style: none;
 }

 .menu {
    margin-bottom: 15px;
    background: #f6f6f6;
 }

.punkt {
    margin: 10px;
    font-size: 16px;
    font-family: 'Lato';
 }

 .punkt a {
    color: #434343;
 }

 .pt2, .pt2-1 {
    margin-left: 5px;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    font-family: 'Lato';
    color: #fff;
 }

 .pt2 {
    background: #05aecc;
 }

.pt2:hover {
    color: #f0626e;
    background: #fff;
    box-shadow: inset 0px -4px 9px 0px rgba(160, 160, 160, .3);
 }

.pt2-1 {
    background: #f0626e;
 }

.pt2-1:hover {
    color: #05aecc;
    background: #fff;
    box-shadow: inset 0px -4px 9px 0px rgba(160, 160, 160, .3);
 }

.list {
    margin: 0 auto; 
    padding-left: 100px;
    margin-bottom: 15px;
    display: flex;
    list-style: none;
    background: #05aecc;
 }

.long-menu {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    font-family: 'Lato';
    color: #ffffff;
 }

.long-menu:hover {
    color: #f0626e;
    background: #ffffff;
    box-shadow: inset 0px -4px 9px 0px rgba(160, 160, 160, 0.3);
 }

 .image-men {
    position: relative;
    float: left;
    padding-right: 5px;
 }

.image-baby {
    position: relative;
    right: 0;
}

.baby-text {
    position: absolute;
    top: 140px;
	right: 1px;
    display: flex;
    font-size: 16px;
    font-family: 'Lato';
    list-style: none;
}

.img-shop {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

.img-shop {
    background: #05aecc;
}

.img-gift {
    padding-bottom: 13px;
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
    background: #00a1be;
    color: #ffffff;
}

.img-cart {
    padding-bottom: 13px;
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
    background: #f0626e;
    color: #ffffff; 
}

.img-baks {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    background: #323232;
}

.img-shop:hover, .img-gift:hover {
    color: #f0626e;
    background: #fff;
    box-shadow: inset 0px -4px 9px 0px rgba(160, 160, 160, .3);
}

.img-cart:hover {  
    color: #00a1be;
    background: #fff;
    box-shadow: inset 0px -4px 9px 0px rgba(160, 160, 160, .3);
}

.image-women {
    position: relative;
    padding-bottom: 1px;
}

.women-wear, .men-wear {
    font-size: 35px;
    font-family: 'Aparajita' ;
    text-transform: uppercase;
    color:#f0626e;
}

.men-wear {
    font-size: 52px;
}
 
.women-text, .men-text {
    font-size: 12px;
    font-family: 'Lato';
    text-transform: uppercase;
    color: #ffffff;
}

.men-text {
    font-size: 13px;
}

.women, .men {
    position: absolute;
    padding: 5px;
    top: 220px;
    width: 270px;
    text-align: center;
    background: rgba(54, 42, 79, 0.8);
}

.men {
    top: 420px;
    width:345px;
}

.search {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 50px;
    height: 70px;
    width: 570px;
    float: left;
    background: #f0626e;
}

.searchTerm {
    padding: 0;
    float: left;
    width: 485px;
    height: 70px;
    font-size: 16px;
    font-family: 'Lato';
    text-align: center;
    border:#f0626e;
    outline: none;
}

.searchTerm:focus{
    color: #380136;
    border: #fff;
}

.searchButton {
    width: 75px;
    height: 70px;
    background: #f0626e;
    color: #eeeeee;
    cursor: pointer;  
    border: #f0626e;  
}

.jewer{
    position: relative;
}

.jewerly {
    float:right;
}

.jewerly-text{
    position: absolute;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 140px;
    right: 0;
    top: 125px;
    font-size: 64px;
    font-family: 'Aparajita';
    text-align: center;
    text-transform: uppercase;
    background: rgba(54, 42, 79, 0.8);
    color: white;
    writing-mode: vertical-rl;
    transform-origin: center; 
    transform: rotate(-180deg);  
}

.circle-right{
    position: absolute;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    right: 0;
    top: 145px;
    background: #f0626e;
    color: #ffffff;
}

.image-crafts{
    position: relative;
    display: inline-block;
}

.crafts-text {
    position: absolute;
    top: 260px;
    right: 0;
    display: flex;
    font-size: 16px;
    font-family: 'Lato';
    list-style: none;
}

.crafts {
    padding: 11.5px;
    width: 200px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(54, 42, 79, 0.8);
    color: white;
}